<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>810332797234-60k1tfrgl1qlfh3imrj6q6dv1oqe91fh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810332797234-60k1tfrgl1qlfh3imrj6q6dv1oqe91fh</string>
	<key>API_KEY</key>
	<string>AIzaSyAUcQZH61vCWWDTgcfNbuw3wLiwBFvhiYU</string>
	<key>GCM_SENDER_ID</key>
	<string>810332797234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>j.com.etonchat</string>
	<key>PROJECT_ID</key>
	<string>eton-chat-ba6e1</string>
	<key>STORAGE_BUCKET</key>
	<string>eton-chat-ba6e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810332797234:ios:a6aa06894667d4ef</string>
	<key>DATABASE_URL</key>
	<string>https://eton-chat-ba6e1.firebaseio.com</string>
</dict>
</plist>